.container {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item1 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}

.item2 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item3 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item4 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item5 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item6 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item7 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item8 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item9 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
.item10 {
  background-color: blanchedalmond;
  width: 200px;
  height: 100px;
}
