* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menu-header {
  color: white;
  display: flex;
  background-color: black;
}
.title-menu {
}

.button-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
/*
.left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
*/

.small-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container {
  box-sizing: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
.name {
  flex-direction: row;
  justify-content: flex-start;
  color: gray;
}
.date {
  flex-direction: row;
  justify-content: flex-end;
  color: grey;
}
footer {
  color: grey;
}
.social-media-button {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
